.mainlogo{
  margin-top: 10px;
}

.comp{
  width: 679px;
}

.connect{
  overflow:hidden;
  color: #7c9afb;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 130px;
  height: 45px; 
  margin: left 10px;
  background-color: #7c9afb;
}

button{
  background-color: #7c9afb;

}

.connect a{
  background-color: #7c9afb;
  font-size: 20px;
  color: white;
  font-weight:bold ;

}


.connect:hover a{
  background-color: #54C5BE;
  font-size: 20px;

}



.connect:hover {
  transform: translate(0,-6px);
  background-color: #54C5BE;
}


.connect:hover::after{
  transform: rotate(150deg);
  background-color: #54C5BE;
}


header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;;
    color:var(--black);
  }
  
  .heading span{
    color:var(--blue);
  }
  
  header{
    width:100%;
    position: fixed;
    top:0; left: 0;
    padding:1rem 1rem;
    z-index: 1000;
  }
  
  .header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    padding: .5rem 1rem;
  }
  
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
  }
  
  header a{
    color:var(--black);
  }
  
  header a:hover{
    color:#7c9afb;;
  }
  
  header .container .logo{
    font-size: 4rem;
    margin-left: -80px;
  }


  header .container .logo span{
    color:var(--blue);

  }
  

  header .nav ul{
    margin:0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  
  }
  
  header .nav ul li{
    margin: 0 1rem;
  
  }
  
  header .nav ul li a{
    font-size: 2rem;
  }
  
  header .fa-bars{
    font-size: 3.5rem;
    color:var(--blue);
    cursor: pointer;
    display: none;
    margin-left: 89%;
    margin-top: -9%;

  }

header .fa-times{
    transform: rotate(180deg);
    
  }

  
@media (max-width: 960px){
   
  .mainlogo{
    width: 200px;
  }

  header{
    margin-top: -10px;
  }


  header .fa-bars{
    display: block;
    font-size:x-large;
    color: #7c9afb;
    margin-left: 94%;
    margin-top: -50px;
  }
 
  ul{
    background-color:#e4eafe;
  }

  header .container .logo{
    font-size: 4rem;
    margin-left: -210px;
  }


  .connect{
    margin-left: 1px;
  }
  
  header .nav{
    position: fixed;
    top:-100rem; left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
    border-radius: .5rem;
    border:.3rem solid var(--blue) !important;
    background:#fff;
    width: 95%;
    opacity: 0;
    
  }

  header .nav ul{
    width: 100%;
    flex-flow: column;
    padding:2rem 0;
  }

  header .nav ul li{
    width: 100%;
    text-align: center;
    margin:1rem 0;
  }

  header .nav ul li a{
    font-size: 3rem;
    display: block;
  }

  header .nav-toggle{
    top:50%;
    opacity: 1;
  }
  


}