
.footer{
    background:#54687d;
  }
  
  .footer p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    margin-left: -18px;
  }
  
 
  .footer .col-md-4{
    padding:1.8rem
  }
  
  .footer .col-md-4:nth-child(1) a{
    font-size: 3rem;
    color:#fff;
  }
  
  .footer .col-md-4:nth-child(1) a span{
    color:
    #7c9afb;
  }
  
  .footer a{
    font-size: 20px;
    color:#ccc;
    display: block;
    margin-left: 10px;

  }
  
  .footer h3{
    color:#fff;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .footer a:hover{
    color:
    #7c9afb;
    margin-left: 10px;
  }
  
  .footer .credit{
    color:#fff;
    width:80%;
    margin:0;
    padding:2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid #ccc !important;
  }
  
  .footer .credit span{
    color:var(--blue);
  }
  
  