
.footer{
    background:#54687d;
  }
  
  .footer p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
  }
  
  .footer .col-md-4{
    padding:1.3rem
  }
  
  .footer .col-md-4:nth-child(1) a{
    font-size: 3rem;
    color:#fff;
  }
  
  .footer .col-md-4:nth-child(1) a span{
    color:var(--blue);
  }
  
  .footer a{
    font-size: 2rem;
    color:#ccc;
    display: block;
  }
  
  .footer h3{
    color:#fff;
    font-size: 3rem;
  }
  
  .footer a:hover{
    color:var(--blue);
  }
  
  .footer .credit{
    color:#fff;
    width:80%;
    margin:0;
    padding:2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid #ccc !important;
  }
  
  .footer .credit span{
    color:var(--blue);
  }
  
  