
.footer{
    background:#54687d;
  }

  .footer p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    margin-left: 1px;
    margin-top: -10px;
  }
  
 
  .footer .col-md-4{
    padding:1.8rem
  }
  
  .footer .col-md-4:nth-child(1) a{
    font-size: 2rem;
    color:#fff;
  }
  
  .footer .col-md-4:nth-child(1) a span{
    color:#7c9afb;
  }
  
 
.credit.text-center.mx-auto span{
  color:#7c9afb;
}

  .fb{
    width: 30px;
  }

  .in{
    width: 30px;
 
  }

  .tw{
    width: 30px;
    
  }
  
  .ln{
    width: 30px;
  }

  .res{
    display: flex;
   
  }
   
  .res a :hover{
    color:#54C5BE;
  }

  .footer a{
    font-size: 17px;
    color:#ccc;
    display: block;
    margin-left: 50px;
  }

  .footer h3{
    color:#fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;

  }
  
  .footer a:hover{
    color:#7c9afb;
    margin-left: 10px;
  }
  
  .footer .credit{
    color:#fff;
    width:80%;
    margin:0;
    padding:2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid #ccc !important;
  }
  
  .footer .credit span{
    color:var(--blue);
    margin-left: 30px;
  }
  
  .mainlogo{
    margin-left: -60px;
  }

